<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base target="_blank">
    <title>WebRTC Hub</title>

    <!-- additional files-->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!-- statics -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" />
    <script src="{{ url_for('static', path='js/libs/jquery.js') }}"></script>
    <script src="{{ url_for('static', path='js/libs/moment.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/utils/web-sockets.js') }}"></script>
    <script src="{{ url_for('static', path='js/utils/make-request.js') }}"></script>
    <script src="{{ url_for('static', path='js/base.js') }}"></script>
    <script src="{{ url_for('static', path='js/rtc.js') }}"></script>

    {% block additional_scripts %}
    {% endblock %}
</head>

<body>
  <div id="container">
    <h1><a href="https://webrtc.github.io/samples/" title="WebRTC samples homepage">WebRTC samples</a> <span>Transfer a file</span></h1>
    <section>
      <p>This page shows how to transfer a file via WebRTC datachannels.</p>
      <p>To accomplish this in an interoperable way, the file is split into chunks which are then transferred via the datachannel. The datachannel is reliable and ordered by default which is well-suited to filetransfers.</p>
      <p>Send and receive progress is monitored using HTML5 <i>progress</i> elements.</p>
      <p>At the receiver, the file is reassembled using the Blob API and made available for download.</p>
      <p>Note: real-world applications require a file transfer protocol to send metadata about the file (such as the filename, type, size, last modification date, hash, ...).This information can be conveyed either via the signaling channel or in-band. The demo elides this by assuming knowledge of the file size at the receiver and closes both the datachannel and the peerconnection when the correct amount of bytes has been received.</p>
    </section>
  </div>
  {% block content %}
  {% endblock %}

</body>
<script>
    const webSocketUrl = "{{ ws_url }}";
</script>
</html>
